[submodule "sub1"]
	path = sub1
	url = git@github.com:vidyar/sub1.git
[submodule "sub2"]
	path = sub2
	url = git@github.com:vidyar/sub2.git
[submodule "rubyspec"]
	path = rubyspec
	url = git@github.com:rubyspec/rubyspec.git
